* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f6f6f6;
}

.nav-mid {
    width: 100%;
    justify-content: flex-end;
    padding-right: 60px;
}

.categories-list ul {
    display: grid;
    padding: 0 30px;
    grid-template-columns: repeat(10, 1fr);
}

.container, .container-w-bg {
    width: 85%;
    background-color: #FFF;
    margin: auto;
    padding: 30px 20px;
    margin-bottom: 40px;
}
.container-w-bg {
    padding: 0 20px;
}

.container-w-bg {
    background: transparent;
}
.container h5, .container-w-bg h5 {
    color: #525252;
    margin-bottom: 30px;
}
.container .section-title-w-icon h5 {
    margin: 0;
}

.container .section-title-w-icon {
    display: flex;
    align-items: center;
}
.container .section-title-w-icon i {
    margin-right: 20px;
    color: gray;
    font-size: 26px;
}

.state-select {
    display: none;
    margin: 20px auto;
    width: 90%;
}


@media screen and (max-width: 950px) {
    .categories-list ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 585px) {
    .categories-list ul {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    }
}

@media screen and (max-width: 420px) {
    .state-select {
        display: block;
    }
}